@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Regular.eot');
    src: url('../fonts/Dosis-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Dosis-Regular.woff2') format('woff2'),
        url('../fonts/Dosis-Regular.woff') format('woff'),
        url('../fonts/Dosis-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

